@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #6d1e1e;
    --first-color-light: #d3d2d3;
    --white-color: #F7F6FB;
    --normal-font-size: 1rem;
    --z-fixed: 100;
    --body-height: calc(100vh - calc(var(--header-height) + 1rem));
}

*, ::before, ::after {
    box-sizing: border-box;
}


h1,h2,h3 {
	color: #fff;
    margin: 0;
	font-family: "Russo One", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h4,h5,p,a,input,label {
	color: #ffffffc5;
    margin: 0;
	font-family: "Inter Tight", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}


body {
    /* font-family: "Montserrat", sans-serif; */
    font-size: var(--normal-font-size);
    background: linear-gradient(#141e30, #243b55);
	overflow-x: hidden; 
}

::-webkit-scrollbar{
    width: 8px;          
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
    width: 8px; 
    background-color: #03e8f437;
    border-radius: 6px;          
}

.header-contaner {
    position: relative;
	z-index: 1002;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.container_nav_login {
    display: flex;
    justify-content: center; 
    align-items: center;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    text-decoration: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.header-logo h1 {
    margin-left: 10px;
    color: #fff;
}

.header-logo img {
    width: 40px;
    height: 40px;
}



.header_login-img {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    margin: 2em auto;
}

.container-map-edit{
	position: relative;
    display: flex;
    width: 100%;
    height: 95vh;
}
.white-icon  {
	color: #fff;
}
.menu-icon  {
	padding-right: 1em;
}

.icon-closed {
	position: absolute;
	top:10px;
	right:10px;
	color: #fff;
	cursor: pointer;
}
.section_camera_info {
	position: absolute;
	left: -500px;
	width: 500px;
	height: 95vh;
	z-index: 1001;
	background: linear-gradient(#141e30, #243b55);
	transition: all .3s ease-in-out;
}
.section_camera_info_move {
	left: 0;
}
.side_camera_block {

}
.info-box {
	padding: 10px
}
.info-box_specification {
	padding: 1em;
}
.info-box_specification p {
	color:#03e8f47e;
	text-align: left;
}
.info-box_specification h5 {
	padding-top: .5em;
	text-align: right;
}

.line-style {
	width: 100%;
	height: 1px;
	background: linear-gradient(to right, #03e8f47e, rgba(85, 36, 36, 0));
	box-shadow: 0 15px 25px #0009;
}

.map {
    width: 100%;
    height: 95vh !important;
}
.button-add {
	transition: .3s;
}
.button-add:hover {
	background-color: #243b55;
}

/* MENU */

/* PEN STYLES ========== */
.addButton a {
	position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff !important;
	background-color: #141e30;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
	cursor: pointer;
}
a,
.side_menu {
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

/* MENU CONTAINER ----- */
	.side_menu {
        background: linear-gradient(#141e30, #243b55);
        box-shadow: 0 inset 25px #0009;
		height: 100vh;
		right: -250px;
		position: absolute;
		top: 0;
		width: 250px;
        z-index: 1001;
	}
	.side_menu .container {
		padding: 0 1em;
	}

/* HAMBURGER STYLES ----- */
	.burger_box {
		display: block;
		float: left;
		margin-left: -45px;
        height: 5vh;
	}
    .menu-icon-container {
        height: 5vh;
        display: flex;
        align-items: center;
    }

	.burger_box a.menu-icon {
		display: inline-block;
		float: none;
		height: 43px;
		padding: 10px;
		width: 45px;
		z-index: 100;
	}
	.burger_box a.menu-icon:hover,
	.burger_box a.menu-icon.opened {
		opacity: 1;
	}
	.burger_box a.menu-icon.opened {
		background-color: #141E31;
	}
	.burger_box .menu-icon_box {
		display: inline-block;
		height: 25px;
		position: relative;
		text-align: left;
		width: 25px;
	}
	.burger_box .menu-icon_line {
		background: #fff;
		border-radius: 2px;
		display: inline-block;
		height: 3px;
		position: absolute;
		width: 100%;
	}
	.burger_box .menu-icon_line--1 {
		top: 2px;
	}
	.burger_box .menu-icon_line--2 {
		top: 10px;
	}
	.burger_box .menu-icon_line--3 {
		top: 18px;
	}
	.burger_box .menu-icon_line--1 {
		transition: top 200ms 250ms, transform 200ms;
		-webkit-transition: top 200ms 250ms, -webkit-transform 200ms;
	}
	.burger_box .menu-icon_line--2 {
		transition: opacity 0ms 300ms;
		-webkit-transition: opacity 0ms 300ms;
	}
	.burger_box .menu-icon_line--3 {
		transition: top 100ms 300ms, transform 200ms;
		-webkit-transition: top 100ms 300ms, -webkit-transform 200ms;
	}
	.burger_box .menu-icon.opened .menu-icon_box {
		transform: scale3d(0.9, 0.9, 0.9);
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
	}
	.burger_box .menu-icon.opened .menu-icon_line {
		top: 10px;
	}
	.burger_box .menu-icon.opened .menu-icon_line--1 {
		transform: rotate3d(0, 0, 1, 45deg);
		-webkit-transform: rotate3d(0, 0, 1, 45deg);
		transition: top 100ms, transform 200ms 250ms;
		-webkit-transition: top 100ms, -webkit-transform 200ms 250ms;
	}
	.burger_box .menu-icon.opened .menu-icon_line--2 {
		opacity: 0;
		transition: opacity 200ms;
		-webkit-transition: opacity 200ms;
	}
	.burger_box .menu-icon.opened .menu-icon_line--3 {
		transform: rotate3d(0, 0, 1, -45deg);
		-webkit-transform: rotate3d(0, 0, 1, -45deg);
		transition: top 200ms, transform 200ms 250ms;
		-webkit-transition: top 200ms, -webkit-transform 200ms 250ms;
	}

/* STAGGER LIST ----- */
	.list_load {
		display: none;
		list-style: none;
		padding: 0;
        padding: 0 0 5em;
	}
	.list_item {
		margin-left: -20px;
		opacity: 0;
		-webkit-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}
	.list_item a {
		color: #ffffffc5;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 5px 10px;
		text-decoration: none;
	}
	.list_item a:hover {
		background: rgba(255,255,255,.2);
	}